@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Regular;
  src: url('../../public/PPGatwick-Regular.otf');
}

@font-face {
  font-family: Sambo;
  src: url('../../public/Sambo.otf');
}

body{
  font-family: Regular;
  background-color: #0a0908; /* #1B1B1B */ 
  color: #E0EADC; /* #CAC9C4 */
}

body h1 {
  font-family: Sambo;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}